<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<%PUBLIC_URI%>/style.css" />
    <title>ra's space</title>
  </head>

  <body>
    <header>
      <h1>ra's space</h1>
    </header>

    <main>
      <h2>dev</h2>

      <ul>
        <li>
          <a href="<%BUILD_URI%>kung-fu">
            kung-fu
          </a>
        </li>

        <li>
          <a href="<%BUILD_URI%>dlog">
            dlog
          </a>
        </li>

        <li>
          <a href="<%BUILD_URI%>snippet">
            snippet
          </a>
        </li>

        <li>
          <a href="https://octoz.app">
            octoz
          </a>
        </li>

        <li>
          <a href="<%BUILD_URI%>my-setup">
            my-setup
          </a>
        </li>
      </ul>

      <h2>personal</h2>

      <ul>
        <li>
          <a href="<%BUILD_URI%>plog">
            plog
          </a>
        </li>

        <li>
          <a href="<%BUILD_URI%>philosophy">
            philosophy
          </a>
        </li>
      </ul>

      <h2>support</h2>

      <ul>
        <li>
          <a href="<%BUILD_URI%>mirror">
            mirror
          </a>
        </li>

        <li>
          <a href="<%BUILD_URI%>donate">
            donate
          </a>
        </li>
      </ul>
    </main>

    <footer>
      released into public domain.
    </footer>
  </body>

</html>
